.section-header{
    *{
        padding: 0;
        margin: 0;
    }
    .container{
        max-width: 1440px;
    }
    @include flex(column, center, center);
    height: 650px;
    background-image: url("/assets/img/backgrounds/section-1/Hero_background.svg");
    background-attachment:fixed;
    background-repeat: no-repeat;
    background-size: contain;
    .section-content{
        @include flex(row, center,center)
    }
    .left-side{
        flex:10;
    }
    .left-side *{
        margin-bottom: 18px;
    }
    button {
        width: 254px;
        height: 60px;
        background-color: $color-primary-1;
    }
    .buttons{
        width: 93%;
        @include flex(row, space-between, center)
    }
    .logo{
        margin-left: -12px;
        background: url("/assets/img/logo/Super_Vereint_Logo.svg") center no-repeat ;
        width: 426.76px;
        height: 50px;
    }
    .picture{
        flex: 12;
        img{
            width: 90%;
            height: 90%;
        }
        margin-left: -30px;
    }
}